/* ===== CSS Resets ====== */
* { padding: 0; margin: 0; box-sizing: border-box }
html, body { height: 100% }
body { line-height: 1 }
/* ===== End CSS Resets ===== */

h1, h2, h3 {
	font-family: sans-serif;
}

h1, h2 {
	color: #0d47a1 /* blue */
}

h1 {
	font-size: 54px;
	margin-bottom: 36px;
	text-align: center;
	letter-spacing:2px
}

h2 {
	font-size: 32px;
	margin-top: 42px;
	margin-bottom: 6px;
}

h3 {
	font-size: 20px;
	color: #000;
	margin-top: 28px;
	margin-bottom: 4px;
	text-transform:uppercase;
}

p {
	font-family: serif; 
	font-size: 18px;
	color: #2c3e50; /* dark-blue */
	margin-bottom: 16px; 
	line-height: 1.3
}

.deckhead {
	font-family: sans-serif; 
	font-size: 22px;
	text-align:center;
	font-style:italic;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:42px;
}

.box-note {
	border: solid 2px #777;
	padding: 10px 20px 10px 20px;
	margin-bottom:20px;
}

.box-note p {
	font-family: sans-serif;
	margin-bottom: 0;
}

