/* ===== CSS Resets ====== */
* { padding: 0; margin: 0; box-sizing: border-box }
html, body { height: 100% }
body { line-height: 1 }
/* ===== End CSS Resets ===== */


h1 {
	font-family: sans-serif;
	font-size: 54px;
	color: #000;
	margin-bottom: 36px;
	text-align: center;
	letter-spacing:2px
}

h2 {
	font-family: sans-serif;
	font-size: 32px;
	color: #000;
	margin-top: 42px;
	margin-bottom: 6px;
}

h3 {
	font-family: sans-serif;
	font-size: 22px;
	color: #000;
	margin-top: 28px;
	margin-bottom: 4px;
}

p {
	font-family: serif; 
	font-size: 18px;
	color: #2c3e50; /* dark-blue */
	margin-bottom: 16px; 
	line-height: 1.3
}

